@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: hsl(20, 50%, 98%);
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
}

main{

    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
   
}

div#items{

    display: flex;
    flex-flow: row wrap;

    width: 45vw;
    margin-top: 30px;
}

div#items > div.item{
  
    margin-right: 20px;
    margin-bottom: 20px;
    
    width: 13vw;
    height: 400px;
    position: relative;
}

div#items > div.item > img{

    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

div#items > div.item > button{

    position: absolute;
    top: 11.5vw;
    left: 6.5vh;
    z-index: 3;
    border-radius: 20px;
    padding: 10px 0px;
    background-color: white;
    color: hsl(14, 65%, 9%);
    font-weight: 700;
    border: 1px solid hsl(7, 20%, 60%);
    outline: none;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div#items > div.item > button:hover{

    color: hsl(14, 86%, 42%);
}

div#items > div.item > button > img{

    padding-right:5px;
}


div#items > div.item p{

    margin-bottom: 5px;
}


div#items > div.item > p.descricao{

    color: hsl(12, 20%, 44%)
}


div#items > div.item > p.nome{

   font-size: 16px;
   color:hsl(14, 65%, 9%);
   font-weight: 600;
}

div#items > div.item > p.preco{

    color:hsl(14, 86%, 42%);
    font-weight: 600;
}

aside{

    background-color: white;
    border-radius: 15px;
    padding: 30px;
    align-items: start;

}

aside > div.items-escolhidos{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;

}

aside > h2{

    color: hsl(14, 86%, 42%);
    margin-bottom: 30px;
}

aside > div.items-escolhidos > img{

    margin-bottom: 20px;
    max-width: 100%;

}


aside > div.items-escolhidos > div.item-escolhido > div.espacamento{

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 0;
}

aside > div.items-escolhidos > div.item-escolhido > div.espacamento p.nome{

   color: hsl(14, 65%, 9%);
   font-weight: 600;
}

aside > div.items-escolhidos > div.item-escolhido > p{

   display: inline-block;
}

aside > div.items-escolhidos > div.item-escolhido > p.quantidade{

   color:hsl(14, 86%, 42%);
   font-weight: 600;
   margin-right: 10px;
}

aside > div.items-escolhidos > div.item-escolhido > p.preco{

   color:hsl(7, 20%, 60%);
   font-weight: 400;
   margin-right: 10px;
}

aside > div.items-escolhidos > div.item-escolhido > p.totalitem{

   color:hsl(12, 20%, 44%);
   font-weight: 600;
   margin-right: 10px;
}

aside > div.items-escolhidos > div.item-escolhido > hr{

    margin-top: 20px;
    background-color: rgb(225, 223, 223);
    height: 0.2px;
    border-width:0;
    margin-bottom: 20px;
}

aside > .items-escolhidos .totalcompra{

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    color: hsl(14, 65%, 9%);

}

aside > .items-escolhidos .totalcompra .total{

    font-size: 1.5em;
    font-weight: 700;

}

aside > .items-escolhidos .carbono{

    margin-top: 30px;
    background-color: hsl(20, 50%, 98%);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color:hsl(14, 65%, 9%);
}

aside > .items-escolhidos .carbono i{

    color:hsl(159, 69%, 38%);
    padding-right: 5px;
}

aside > .items-escolhidos button{

    background-color: hsl(14, 86%, 42%);
    border: none;
    color: white;
    padding: 15px 20px;
    width: 100%;
    border-radius: 30px;
    font-size: 1.2em;
    margin-top: 25px;
}

aside > .items-escolhidos button:hover{

    background-color: hsl(14, 83%, 38%);

    color: hsl(13, 31%, 94%);

}

div#items div.item button.BtnEscolhido{

    background-color: hsl(14, 86%, 42%);
    color: white; 
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

div#items div.item button.BtnEscolhido > i{

    font-size: 1.5em;
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: white;

}

div#items div.item button.BtnEscolhido > p{

    font-weight: 400;
    padding-top:3px;
    font-size: 1em;
    margin: 0;
}

dialog{

    border:none;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
}

dialog > i{

    color:hsl(159, 69%, 38%);
}

dialog::backdrop{

    background-color: rgb(0 0 0 / 0.5);
}

dialog > h1{

    font-size: 2.4em;
}

dialog > i{

    font-size: large;
}

dialog > p{

    color:  hsl(12, 20%, 44%);
    font-size: 16px;
    margin-top: 10px;
}

dialog .produtosFinais{

    background-color: hsl(20, 50%, 98%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

dialog .produtoFinal{

    display: grid;
    grid-template-columns: 50px 300px 50px;
    grid-template-rows: 60px 1px;
    gap: 10px;
    margin-bottom: 20px;
    

}

dialog .produtoFinal > img{

    max-width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 5px;
}

dialog .produtoFinal > div.notaFiscal{

    grid-area: 1 / 2 / 2 / 3;
}

dialog .produtoFinal > div.notaFiscal p.nome{

    color: hsl(14, 65%, 9%);
    font-weight: 600;
    margin-bottom: 7px;
}

dialog .produtoFinal > div.notaFiscal div{

    display: flex;
}

dialog .produtoFinal > div.notaFiscal div p.quantidade{

    color: hsl(14, 86%, 42%);
    font-weight: 600;
    margin-right: 20px;
}

dialog .produtoFinal > div.notaFiscal div p.preco{

    color: hsl(12, 20%, 44%)
}

dialog .produtoFinal > p.totalNota{

    grid-area: 1 / 3 / 2 / 4;
    padding-top: 15px;
    font-weight: 600;
    color: hsl(14, 65%, 9%);
}

dialog .produtoFinal > hr{

    grid-area: 2 / 1 / 2 / 4;

    background-color: rgba(225, 223, 223, 0.355);
    height: 0.2px;
    border-width:0;
  
}

dialog .produtosFinais > .totalcompraFinal{

    display: flex;
    justify-content: space-between;
    color: hsl(14, 65%, 9%);
    margin-top: 40px;

}

dialog .produtosFinais > .totalcompraFinal p.compraFinal{

    font-weight: 700;
    font-size: 1.3em;
}

dialog #buttonFinaliza{

    background-color: hsl(14, 86%, 42%);
    border: none;
    color: white;
    padding: 15px 20px;
    width: 100%;
    border-radius: 30px;
    font-size: 1.2em;
    margin-top: 25px;

}

@media screen and (min-width:375px) and (max-width:600px){
    
    main{

        flex-direction: column;
        padding: 20px;
        padding-bottom: 0;
        margin-top: 0;   
           
    }

    section{

        width: 100%;
    }

    div#items{

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        margin-top: 30px;
       
    }

    div#items > div.item{
  
        width: 100%;
        aspect-ratio: 16/9;
        margin: auto;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    div#items > div.item > img{

        aspect-ratio: 16/9;
        height: 70%;
        margin-bottom: 20px;
        object-fit: cover;
        
    }

    div#items > div.item > button{

        position: absolute;
        top: 70%;
        left: 50%;
        width: 45%;
        transform: translate(-50%, -70%);
    }

    aside{

        width: 90vw;
        margin-bottom: 20px;

    }

    aside > div.items-escolhidos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    dialog{

        border:none;
        border-radius: 10px 10px 0 0;
        padding: 20px;
        position: fixed;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        transform: translate(-50%, -47%);
    }

    dialog .produtoFinal > hr{

        max-width: 100%;
        grid-area: 2 / 1 / 2 / 4;
        margin-top: 10px;
     
    }

    dialog .produtoFinal{

        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: 70px;
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
        
    }

    dialog .produtoFinal > img{

        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 5px;
        object-fit: cover;
    }

    dialog .produtoFinal > div.notaFiscal{

        grid-area: 1 / 2 / 1 / 3;
    }
}

@media screen and (min-width:601px) and (max-width:768px){
    
    main{

        flex-direction: row;

        padding-bottom: 0;
        margin-top: 20px;   
           
    }

    section{

        width: 60%;
    }

    section > h1{

        margin-left: 30px;
    }

    div#items{

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 30px;
       
    }

    div#items > div.item{
  
        width: 40%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    div#items > div.item > img{

        aspect-ratio: 1/1;
        height: 50%;
        margin-bottom: 20px;
        object-fit: cover;
        
    }

    div#items > div.item > button{

        position: absolute;
        top:50%;
        left: 50%;
        width: 100%;
        padding: 5px;
        font-size: 0.7em;
        transform: translate(-50%, -50%);
    }

    aside{

        width: 40%;
        margin-bottom: 20px;

    }

    aside > div.items-escolhidos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    dialog{

        border:none;
        border-radius: 10px 10px 0 0;
        padding: 20px;
        position: fixed;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        transform: translate(-50%, -47%);
    }

    dialog .produtoFinal > hr{

        max-width: 100%;
        grid-area: 2 / 1 / 2 / 4;
        margin-top: 10px;
     
    }

    dialog .produtoFinal{

        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: 70px;
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
        
    }

    dialog .produtoFinal > img{

        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 5px;
        object-fit: cover;
    }

    dialog .produtoFinal > div.notaFiscal{

        grid-area: 1 / 2 / 1 / 3;
    }
}

@media screen and (min-width:769px) and (max-width:900px){
    
    main{

        flex-direction: row;
        padding: 20px;
        padding-bottom: 0;
        margin-top: 0;   
           
    }

    section{

        width: 60%;
    }

    section > h1{

        padding-left: 30px;
    }

    div#items{

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 30px;
       
    }

    div#items > div.item{
  
        width: 40%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    div#items > div.item > img{

        aspect-ratio: 1/1;
        height: 50%;
        margin-bottom: 20px;
        object-fit: cover;
        
    }

    div#items > div.item > button{

        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 5px;
        font-size: 0.7em;
        transform: translate(-50%, -50%);
    }

    aside{

        width: 40%;
        margin-bottom: 20px;

    }

    aside > div.items-escolhidos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    dialog{

        border:none;
        border-radius: 10px 10px 0 0;
        padding: 20px;
        position: fixed;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        transform: translate(-50%, -47%);
    }

    dialog .produtoFinal > hr{

        max-width: 100%;
        grid-area: 2 / 1 / 2 / 4;
        margin-top: 10px;
     
    }

    dialog .produtoFinal{

        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: 70px;
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
        
    }

    dialog .produtoFinal > img{

        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 5px;
        object-fit: cover;
    }

    dialog .produtoFinal > div.notaFiscal{

        grid-area: 1 / 2 / 1 / 3;
    }
}

@media screen and (min-width:901px) and (max-width:1000px){
    
    main{

        flex-direction: row;
        padding: 20px;
        padding-bottom: 0;
        margin-top: 0;   
           
    }

    section{

        width: 60%;
    }

    section > h1{

        margin-left: 30px;
    }

    div#items{

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 30px;
       
    }

    div#items > div.item{
  
        width: 40%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    div#items > div.item > img{

        aspect-ratio: 1/1;
        height: 50%;
        margin-bottom: 20px;
        object-fit: cover;
        
    }

    div#items > div.item > button{

        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 5px;
        font-size: 0.7em;
        transform: translate(-50%, -50%);
    }

    aside{

        width: 40%;
        margin-bottom: 20px;

    }

    aside > div.items-escolhidos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    dialog{

        border:none;
        border-radius: 10px 10px 0 0;
        padding: 20px;
        position: fixed;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        transform: translate(-50%, -47%);
    }

    dialog .produtoFinal > hr{

        max-width: 100%;
        grid-area: 2 / 1 / 2 / 4;
        margin-top: 10px;
     
    }

    dialog .produtoFinal{

        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: 70px;
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
        
    }

    dialog .produtoFinal > img{

        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 5px;
        object-fit: cover;
    }

    dialog .produtoFinal > div.notaFiscal{

        grid-area: 1 / 2 / 1 / 3;
    }
}

@media screen and (min-width:1001px) and (max-width:1365px){
    
    main{

        flex-direction: row;
        padding: 20px;
        padding-bottom: 0;
        margin-top: 0;   
           
    }

    section{

        width: 80%;
    }

    section > h1{

        margin-left: 30px;
    }

    div#items{

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 30px;
       
    }

    div#items > div.item{
  
        width: 30%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: 0;
      
    }

    div#items > div.item > img{

        aspect-ratio: 1/1;
        height: 50%;
        margin-bottom: 20px;
        object-fit: cover;
        
    }

    div#items > div.item > button{

        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 5px;
        font-size: 0.7em;
        transform: translate(-50%, -50%);
    }

    aside{

        width: 30%;
        margin-bottom: 20px;

    }

    aside > div.items-escolhidos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    dialog{

        border:none;
        border-radius: 10px 10px 0 0;
        padding: 20px;
        position: fixed;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        transform: translate(-50%, -47%);
    }

    dialog .produtoFinal > hr{

        max-width: 100%;
        grid-area: 2 / 1 / 2 / 4;
        margin-top: 10px;
     
    }

    dialog .produtoFinal{

        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: 100px;
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
        
    }

    dialog .produtoFinal > img{

        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 5px;
        object-fit: cover;
    }

    dialog .produtoFinal > div.notaFiscal{

        font-size: 1.4em;
        grid-area: 1 / 2 / 1 / 3;
    }
}